body { background: #1ed349; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 14px; display: flex; }
.block-config-0 { color: #224cfa; font-size: 18px; margin-bottom: 5px; }
.block-database-1 { color: #6bb042; font-size: 14px; margin-bottom: 5px; }
.block-invoice-2 { color: #9ea182; font-size: 21px; margin-bottom: 5px; }
.block-shipping-3 { color: #de6d5d; font-size: 21px; margin-bottom: 5px; }
.block-database-4 { color: #695839; font-size: 13px; margin-bottom: 5px; }